
* {
-web-kit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0px;
margin: 0px;
font-family: 'Inter', sans-serif;
}
html {
scroll-behavior: smooth;
}
body {
float: left;
width: 100%;
margin: 0px;
font-family: 'Inter', sans-serif;
} 

.custom_container{
    max-width:1140px;
    margin:0 auto;
    }

.web_header{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 999;
   
    top: 25px;
    padding: 0px 10px;

   }
   .mobile_header{
    display: none;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 25px;
    padding: 0px 10px;
  
   }

/* web Header style start */
.web_header_main{
display: flex;
flex-direction: column;
width: 100%;
}   
.web_header_0{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    }
    .web_header_0 ul{
        display: flex;
        align-items: center;
        margin: 0px;
    }
    .web_header_0 ul li{
       list-style: none !important;
    }

    .web_header_0 ul li a{
      
        color: #fff2dc !important;
     }
     .web_header_0 ul li a.header_active{
        color: #135f5e !important ;
     }
     .web_header_0_list_0 li a{
        text-decoration: none !important;
    }
    li.li_0.web_header_logo a {
        position: absolute;
        top: -26px;
    }

/* mobile header css */

.mobile_header_main{
display: flex;
flex-direction: column;
width: 100%;
}  
li.li_0.mobile_header_logo a {

    position: absolute;
    top: -24px;
    left: 0px;

} 
.mobile_header_0{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    }
    .mobile_header_0 ul{
        display: flex;
        align-items: center;
        margin: 0px;
    }
    .mobile_header_0 ul li{
       list-style: none !important;
    }
    
     .mobile_header_0_list_0 li a{
        text-decoration: none !important;
    }
  
.mobile_res_toggle_content{
position: fixed;
top: 0;
left: 0;
height: 100vh;
transform: translatex(-100%);
transition: transform 0.3s ease-in-out;
z-index: 999;
width: 250px;
height: 100vh;
background-color: #fff !important;
padding: 20px 10px;
overflow-y: scroll;
box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
}
.mobile_res_toggle_content.responsive_bar{
    transform: translatex(0%);
}
.mobile_res_toggle_content_cancle {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}
.mobile_res_toggle_list_1{
    display: flex;
    flex-direction: column;
 
}
.mobile_res_toggle_list_1 li{
    list-style: none;
    border-bottom: 1px solid #cfcfcf;
   padding-bottom: 8px;
   margin-bottom: 15px;
}
.mobile_res_toggle_list_1 li:last-child{
    border-bottom: unset;
}


@media(max-width:991px){
.web_header{
    display: none;
}
.mobile_header{
display: block;
}
}

/* banner style start */

.home_banner_main{
    display:block;
        width: 100%;
        padding:0px 0px;
        float: left;
    margin-bottom:70px;
    background: #c0cdcc;
    }

    .home_banner{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: ". .";
        grid-template-rows: auto;
        position: relative;
        z-index: 1;
        width: 100%;
        align-items: center;
        height: 100%;
    }
  
    .home_banner figure {
        margin-bottom: 0px;
        width: 100%;
        height: 100%;
    }
    .home_banner figure img{
        width: 100%;
        height: 100%;
     object-fit: cover;
    }
    .home_banner_body_main {
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        width: 100%;
        padding-left: 90px;
      padding-right: 15px;
padding-top: 125px;
padding-bottom: 60px;
    }
    .home_banner_body{
        display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
max-width: 420px;
    }
    .home_banner_heading{
        display: grid;
        width: 100%;
    }
  

    .home_banner_heading h3{
        font-style: normal;
        font-weight: 700 !important;
        font-size: 50px;
        line-height: 60px;
        color: #fff;
        padding-bottom: 18px;
        margin: 0px;
}
.banner_active_color{
    color: #fff2dc;
}

    .home_banner_des{
        display: flex;
flex-wrap: wrap;
flex-direction: column;
padding-bottom: 40px;
    }
    .home_banner_des p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin: 0px;
    }

    .home_banner_body .home_banner_shop_btn{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .home_banner_body .home_banner_shop_btn a{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        width: 198px;
        height: 55px;
        background: #8ca4b3;
        border-radius: 34px;
        border: 3px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media(max-width:1140px){
    .home_banner_body_main {
padding-left: 40px;

}
}
    @media(max-width:1024px){
        .home_banner_body_main {
        padding-left: 20px;
    }
    .home_banner_main{
        margin-bottom: 40px;
    }
        .home_banner_body {
max-width: 100%;
}
    .home_banner_heading h3 {
        font-size: 30px;
        line-height: 42px;
        padding-bottom: 15px;
    }
.home_banner_des {

 max-width: 100%; 
}
    }
    @media(max-width:768px){
        .home_banner{
        grid-template-columns: 1fr;
      grid-template-areas: ".";
    }
    .home_banner_main{
        margin-bottom: 30px;
    }
    .home_banner_heading h3 {

        padding-bottom: 9px;
    }
    .home_banner_des {
        padding-bottom: 30px;
    }
    .home_banner_body_main {
        padding-left:15px;
        justify-content: center;
        padding-bottom:40px;
        padding-top: 40px;
    }

    .home_banner_body {
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }

    .home_banner_body .home_banner_shop_btn {
justify-content: center;
}
ul.home_banner_des_list {
  width: 100%;
  justify-content: center;
}
       
    }
    @media(max-width:540px){
    .home_banner_heading h3 {
        font-size: 24px;
        line-height: 36px;
    }
    .home_banner_body_main {
padding-bottom: 25px;
padding-top: 25px;
}

    }
  
/*  banner style end */


/* section one style start */


.home_section_1_main{
    display:block;
        width: 100%;
        padding:0px 15px;
        float: left;
    margin-bottom:70px;
    }
    .home_section_1{
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        grid-template-areas: ". .";
        grid-template-rows: auto;
        width: 100%;
        align-items: center;
        height: 100%;
        gap: 30px 70px;
    }
  
   
    .home_section_1_body{
        display: flex;
flex-direction: column;
justify-content: flex-end;
height: 100%;
    }
    .home_section_1_heading{
        display: grid;
        width: 100%;
    }
    .home_section_1_heading h3{
        font-style: normal;
        font-weight: 700 !important;
        font-size: 48px;
        line-height: 58px;
        color: #f19988;
        padding-bottom: 35px;
        margin: 0px;
}


ul.home_section_1_des_list {
    display: grid;
    gap: 25px;
    margin: 0px;
}
ul.home_section_1_des_list li {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #606b8d;
    list-style: none;
    text-align: left;
}
ul.home_section_1_des_list li img{
    width: 36px;
    padding-right: 15px;
    object-fit: contain;
}
.home_section_1 figure {
    margin-bottom: 0px;
    width: 100%;
    height: 500px;
}
.home_section_1 figure img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 100%;
    object-fit: cover;

}

    @media(max-width:1024px){
    
.home_section_1_main{
    margin-bottom:40px;
    }
    
    .home_section_1_heading h3 {
        font-size: 30px;
line-height: 33px;
padding-bottom: 30px;
    }
    .home_section_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 20px;
    }

    }
    @media(max-width:768px){
        .home_section_1{
        grid-template-columns: 1fr;
      grid-template-areas: ".";
    }
        
    .home_section_1_body {
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }


ul.home_section_1_des_list {
  width: 100%;
  justify-content: center;
}
.home_section_1 figure {
    height: 400px;
}  
    }
    @media(max-width:540px){
    .home_section_1_heading h3 {
        padding-bottom: 14px;
        font-size: 24px;
        line-height: 29px;
    }
    .home_section_1 figure {
        height: 300px;
    }
    }

/* section one style end */


/* section two style start */


    
.home_section_2 {
    float: left;
        width: 100%;
        margin-bottom: 72px;
        padding: 56px 10px;
        background: #c0cdcc;
    }
    .home_section_2_heading{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .home_section_2_heading h2{
        font-style: normal;
        font-weight: 700 !important;
        font-size: 36px;
        line-height: 40px;
        color: #fff;
        margin: 0px;
    }
    .home_section_2_parent {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

    .single_section_2_box_main{
        width: 100%;
        display: grid;
height: 100%;
        background-color: #fff2dc;
    }
    .single_section_2_box {
        padding: 40px 15px 75px 15px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .single_section_2_box h3 {
        font-style: normal;
        font-weight: 700 !important;
        font-size: 20px;
        line-height: 24px;
        color: #f19988;
        padding-bottom: 13px;
        margin: 0px;
    }
    .single_section_2_box p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #606b8d;
        list-style: none;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        width: 100%;
        max-width: 100%;
        font-style: normal;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        height: 130px !important;
        max-height: 130px !important;
        margin: 0px;
    }
    .single_section_2_box figure {
        margin: 0px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -70px;
        left: 0px;

    }
    .single_section_2_box figure img {
        width: 140px;
        border-radius: 50%;
        height: 140px;
        object-fit: cover;
    }
    .testamonial_name {
        display: flex;
        width: 100%;
        background: #fff;
        padding: 80px 10px 40px 10px;
        justify-content: center;
    }
    .testamonial_name p{

        list-style: none;
        text-align: center;
        font-style: normal;
        font-weight: 600 !important;
        font-size: 18px;
        line-height: 23px;
        color: #f19988;
        margin: 0px;
    }
    @media (max-width: 1024px) {
.home_section_2 {
    margin-bottom: 40px;
    padding: 40px 10px;
}
.home_section_2_parent {
    grid-template-columns: 1fr 1fr 1fr;

}
}
    @media (max-width: 768px) {
        .home_section_2_parent {
            grid-template-columns: 1fr 1fr;
        
        }
    }
    @media (max-width: 540px) {
.home_section_2 {
    margin-bottom: 30px;
    padding: 30px 10px;
}
.single_section_2_box h3 {
    font-size: 16px;
    line-height: 22px;
} 
    .home_section_2_heading h2 {
    font-size: 24px;
    line-height: 31px;
}
.home_section_2_heading {
    padding-bottom: 30px;
}
    }


/* section two style end */

